.infos {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
  color: rgb(100, 100, 225);
  border-radius: 20px;
  width: 30vh;
  height: 10vh;
  bottom: 3vh;
  left: 1vw;
}

.infos-icon {
  font-size: 30px;
}

.infos p {
  font-size: 10px;
}