.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
  color: white;
}

.details-state-region {
  white-space: nowrap;
  font-size: 12px;
}

.details-state-country {
  white-space: nowrap;
  font-size: 12px;
}

.details-temp {
  font-size: 70px;
}

.details-icon {
  display: inline-block;
  width: 10vw;
  height: auto;
}