* {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  margin: 8% auto;
  background-color: rgba(240, 255, 255, 0.7);
  height: 70vh;
  width: 70vw;
  border-radius: 50px;
  padding: 2%;
}

.app-left {
  position: relative;
  background: radial-gradient(circle 200px at right top, white, rgb(100, 100, 225));
  width: 20vw;
  height: auto;
  border-radius: 30px;
  padding: 2%;
  margin-right: 2vw;
}

.app-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}